@model BigDatabase.Models.Person
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <div class="search">
                    @Html.LabelFor(x => x.SearchName)
                    @Html.TextBoxFor(x => x.SearchName, new { @class = "form-control" })
                    <button class="btn-primary button btn">Search</button>
                </div>
                
            </div>
        </div>
       
        
    </div>
}
