@model IEnumerable<BigDatabase.Models.ViewModels.PersonVM>

@{
    ViewBag.Title = "About";
}


@using (Html.BeginForm("About", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <div class="search">
                    <h3 class="text-center">Find a Client</h3>
                    <input class="form-control" placeholder="Search name..." type="text" name="client" required />
                    <button class="btn-primary button btn" type="submit">Search</button>
                </div>

            </div>
        </div>


    </div>
}

@if (ViewBag.Toggle == 1)
{
    foreach (var s in Model)
    {
        <ul>
            <li>
                @Html.ActionLink(s.Name, "Details", "Home", routeValues: new { result = s.Name }, htmlAttributes: null)
            </li>
        </ul>

    }
}
else
{

}

