@{
    ViewBag.Title = "About";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <div class="search">
                    <h3 class="text-center">Find a Client</h3>
                    <input class="form-control" placeholder="Search name..." type="text" />
                    <button class="btn-primary button btn submit">Search</button>
                </div>
                
            </div>
        </div>
       
        
    </div>
}

<p>Result here</p>
