@{
    ViewBag.Title = "About";
}

<h2>About Powerlevel Developers</h2>

<div class="row">
    <div class="col-lg-10">
        <p>Powerlevel was designed and built by the Toaster Code team at Western Oregon University for CS 461-462 Software Engineering II and III Senior Capstone Project.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <dl>
            <dt>Powerlevel Team Memebers</dt>
            <dd>Nicholas Leonard</dd>
            <dd>Alex Bishop</dd>
            <dd>Chi Li</dd>
            <dd>Jace Woods</dd>
        </dl>
    </div>
    <div class="col-lg-5">
        <a href="https://bitbucket.org/Hexamoy/toastercode/src/master/">Bitbucket Project Repository</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <p>To complete this project, we used tools like Visual Studio 2017 IDE, Discord chat for team communication, and Postman for testing API interaction.</p>
        <p>This project also included many different packages to implement its features. We used fullcalendar for a responsive workout plan calendar, Jquery, Datepicker, and AJAX for reponsive form filling and level updates, and Fitbit.Net to handle interaction with Fitbit API.</p>
        <p>We followed MVC pattern using the Microsoft .NET FRAMEWORK, while utilizing Disciplined Agile Delivery and SCRUM techniques. We used a combination of C#, Razor, HTML, Jquery, AJAX, and Javascript to build the site and we used Azure to host the database and web site.</p>
    </div>
</div>