@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Powerlevel!</h1>
    <p class="lead">Welcome to the workout site that is all about becoming the healthiest you while defeating monsters and scouring dungeons for treasure, loot, and richs!</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Html.ActionLink("Link Fitbit Account", "Authorize", "Fitbit", null, htmlAttributes:new { @class="btn btn-primary"})
        </p>
    </div>
    
</div>