@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<div class="container-fluid" id="center">
    <h1>@ViewBag.Title</h1>
    <h3>Welcome to Reginald's acution house. Home of interesting, ancient, artifacts.</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a class="btn btn-primary" href="/Bids/Create">Bid on an Item!</a>
        </div>
    </div>
</div>