
@{
    ViewBag.Title = "Forbidden";
}

<h1>FORBIDDEN!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <p>You are somewhere you do not belong! Now Perish!</p>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Flee!", "Index", "Home", null, new { @class = "rpgui-button" })
        </div>
    </div>
    <br />
    <center>
        <iframe src="https://giphy.com/embed/njYrp176NQsHS" width="720" height="300" frameBorder="0" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/lotr-gandalf-lord-of-the-rings-njYrp176NQsHS">via GIPHY</a></p>
    </center>
</div>