body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #2E3532;
    color: #F9E9D9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*userInfos_navbar design*/
#userInfos_navbar {
    /*border-radius: 25px;*/
    color: deepskyblue;
    /*border: 1.5px solid #ffffff;*/
    padding: 15px;
}

/*Synchronizes colors on sortable dataTables with the rest of the site color scheme*/
table.dataTable tbody tr{
    background: none !important;
}

/*Changing color scheme of jumbotron*/
.jumbotron {
    background-image: url(images/design_images/cobblestone_path.jpg);
}

/*Background image to navbar*/
.navbar {
    background: #1D7747
}

/*Set text color for tables the same as rest of site*/
.table {
    color: inherit;
    background: inherit;  
}

/*Image sizing values for userCurrWorkout page*/
#GoblinPoisonBlade{
    float: left;
    width: 433px;
    height: 254px;
}

/*Causes copyright text to appear beneath images*/
footer {
    clear: both;
}

/*Changing the color of the calendar specifically*/
#calendar{
    color: black;
    background: white;
}

/*stops text wrapping on the calendar so that it will show full event text*/
.fc-day-grid-event > .fc-content {
    white-space: unset !important;
}