<!-- Allows the user to "abandon" a workout by deleting the plan from the user workout table -->

@model Powerlevel.Models.UserWorkout

@{
    ViewBag.Title = "Abandon";
}

<h3>Are you sure you want to Abandon this workout plan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanWorkout.Plan.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Abandon" class="btn btn-default" /> |
            @Html.ActionLink("Back to Active Plans", "Index")
        </div>
    }
</div>
