<!-- Placeholder for "Completing" a workout, simply deletes the workout plan for the user-->

@model Powerlevel.Models.UserWorkout

@{
    ViewBag.Title = "Complete";
}

<h3>Did you complete this workout plan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanWorkout.Plan.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Complete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Active Plans", "Index")
        </div>
    }
</div>
