@{
    ViewBag.Title = "Miles to Metric Converter";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <form>
        <div class="col-md-6 form-group">
            <label for="mile">Miles</label>
            <input class="form-control" type="number" id="mile"/>
        </div>
        <div class="col-md-6 form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Millimeters" value="" />
                <label class="form-check-label" for="Millimeters">Millimeters</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Centemeters" value=""/>
                <label class="form-check-label" for="Centemeters">Centemeters</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Meters" value="" />
                <label class="form-check-label" for="Meters">Meters</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Kilometers" value="" />
                <label class="form-check-label" for="Kilometers">Kilometers</label>
            </div>
        </div>
            
    </form>
</div>
