@model Powerlevel.Models.User

@{
    ViewBag.Title = "Display";
}

<h2>Metrics for @Model.UserName</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Feet:</dt>
        <dd>
            @Model.HeightFeet
        </dd>
        <dt>Inch:</dt>
        <dd>
            @Model.HeightInch
        </dd>
        <dt>Weight:</dt>
        <dd>
            @Model.Weight
        </dd>
    </dl>
</div>
