@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>Welcome to Mountain View Apartments home page. If you have a problem, please follow the link to our forms page to submit a work request form.</p>
</div>